<div class="page-header">
  <h1>Orders</h1>
</div>
<div class="row">
	<div class="menu-container span3 well">
		<ul class="nav nav-pills nav-stacked">
		  <li class="nav-header">Show Orders</li>
		  <li class="active"><a href="#orders/all"><i class="icon-list-alt icon-white"></i> All Orders</a></li>
		  <li class="nav-header">Actions</li>
		  <li><a href="#orders/new"><i class="icon-plus-sign"></i> New Order</a></li>
		</ul>
	</div>
	<div class="content-container span6">
		<h2>List Orders</h2>
		<div class="list-area"></div>
	</div>
	<div class="actions-container span3"></div>
</div>