<ul class="nav nav-pills nav-stacked">
	<li class="nav-header">Show Orders</li>
	<li<%= chk_active(params[:action] == "index") %>><a href="<%= url_for(orders_path) %>"><i class="icon-list-alt icon-white"></i> All Orders</a></li>
	<li class="nav-header">Actions</li>
	<li<%= chk_active(params[:action] == "new") %>><a href="<%= new_order_path %>"><i class="icon-plus-sign"></i> New Order</a></li>
</ul>